* {
  box-sizing: border-box;
}

/* SIDEBAR */
.sidebar {
  width: 78px;

  min-height: 100vh;

  background: white;

  border-right: 1px solid #e5e7eb;

  display: flex;

  flex-direction: column;

  justify-content: space-between;

  padding: 18px 14px;

  transition: 0.3s ease;

  flex-shrink: 0;
}

.sidebar.open {
  width: 240px;
}

/* TITLE */
.sidebar-title {
  margin: 0 0 34px;

  font-size: 18px;

  font-weight: 700;

  color: #111827;
}

/* MENU */
.sidebar-menu {
  display: flex;

  flex-direction: column;

  gap: 18px;
}

.menu-btn {
  border: none;

  background: transparent;

  text-align: left;

  cursor: pointer;

  font-size: 13px;

  font-weight: 600;

  color: #111827;

  padding: 0;
}

/* LOGOUT */
.logout-btn {
  border: none;

  background: transparent;

  display: flex;

  align-items: center;

  justify-content: space-between;

  cursor: pointer;

  font-size: 12px;

  font-weight: 600;

  color: #111827;
}